# --------------------
# Python
# --------------------
backend/venv/
backend/.env
__pycache__/
*.pyc

# --------------------
# Node / Frontend
# --------------------
frontend/node_modules/
frontend/dist/

# --------------------
# Environment
# --------------------
.env

# --------------------
# OS / Editor
# --------------------
.vscode/
.DS_Store
